.essay-div{
    text-align: left;
    width: 50vw;
}

.title-input{
    width: 80%;
    font-size: 14pt;
}

.paragraph-area{
    width: 80%;
    font-size: 14pt;
}

.essay-instructions{
    font-size: 14pt;
}

.essay-accordion{
    width: 100%;
}